# Python virtual environment
# Ignore Python virtual environments
env

# Ignore macoS system files
.DS_Store

# Ignore python cache files
__pycache__/

# Ignore Environment variable files
.env

.vscode
.coverage

.pytest_cache/
htmlcov/
.ruff_cache/